<h1>Employee Info</h1>

<h3>First name: <%= @employee.first_name %></h3>
<h3>Last name: <%= @employee.last_name %></h3>
<h3>Alias: <%= @employee.alias %></h3>
<h3>Title: <%= @employee.title %></h3>
<h3>Office: <%= @employee.office %></h3>
<img src= <%=  @employee.img_url %>


